.inline-block {
   display: inline-block;
   vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    float: left;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

li {
    padding: 20px;
}

.heroImg { 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #373738;
    color: white;
}

p {
    text-align: center;
}

button {
    display: block;
    margin: auto;
}